* {
    font-family: 'Open Sans', sans-serif;
}

.center-grey {
    background: #f2f2f2;
}

.slider {
    position: relative;
    padding: 5px;
    width: 100%;
    margin: auto;
    /*margin-top: 40px;*/
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    box-shadow: 0px 0px 15px #999;
}

    .slide img {
        width: 100%;
        /*height: 100%;*/
    }

.arrows_right {
    position: absolute;
    top: 46%;
    right: 8px;
        background-color: #a5a3a3;
        width: 33px;
}

.arrows_left {
    position: absolute;
    top: 46%;
    left: 8px;
        background-color: #a5a3a3;
        width: 33px;
}

    .arrows_right img, .arrows_left img {
        height: 32px;
    }

h1 {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: #222;
}

.slide.ng-hide-add, .slide.ng-hide-remove {
    /*-webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    transition: all linear 0.5s;
    display: block !important;*/
}

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
    .slide.ng-hide-remove {
        animation:1.5s fadeIn ease;
    }

        .slide.ng-hide-add, .slide.ng-hide-remove.ng-hide-remove-active {
            /*opacity: 1;*/
        }

.mini_image {
    margin-bottom: 15px;
}

    .mini_image a {
        cursor: pointer;
    }

.title {
    /*background-image: -webkit-linear-gradient(right, #040133 0%, #0a1cf3 100%);
    background-image: -o-linear-gradient(right, #040133 0%, #0a1cf3 100%);
    background-image: -webkit-gradient(linear, left, rigth, from(#040133), to(#0a1cf3));
    background-image: linear-gradient(to right, #040133 0%, #0a1cf3 100%);*/
    background-color: rgb(9, 30, 116);
    background-color: rgba(34, 49, 78, 0.772549);
    padding-top: 10px;
}
.slide_mini.ng-hide-remove,
slide_mini.ng-hide-add {
    -webkit-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 625ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}
.slide_mini.ng-hide-add.ng-hide-add-active, .slide_mini.ng-hide-remove {
        opacity: 0;
    }

.slide_mini.ng-hide-add, .slide_mini.ng-hide-remove.ng-hide-remove-active {
       opacity: 1;
}
.slide_infor {
    font-size: 18px;
    color: #fff;
  
    padding: 0;
}
.slide_infor > i {
    font-size: 33px; color: white; margin-top: 10px
}