<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Template Email</title>
</head>
<body>
    <table dir="ltr">
        <tbody>
            <tr>
                <td style="padding:0;font-family:'Segoe UI', Tahoma, Geneva, Verdana,
     sans-serif,Arial;font-size:17px;color:#707070">Tài Khoản Bất Động Sản</td>
            </tr>
           
            <tr>
                <td style="padding:0;padding-top:25px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,Arial;
font-size:14px;color:#2a2a2a">
                    Xin Chào Tài Khoản [UserName]
                </td>
            </tr>
            <tr>
                <td style="padding:0;padding-top:25px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,Arial;
font-size:14px;color:#2a2a2a">
                    Có Khách Hàng Liên Lạc Với Bạn
                </td>
            </tr>
        <tr>
            <td style="padding: 0; padding-top: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial;
                                                                    font-size: 14px; color: #2a2a2a">
                Tên: [TenKH]
            </td>
        </tr>
        <tr>
            <td style="padding: 0; padding-top: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial;
                                                                                                                                           font-size: 14px; color: #2a2a2a">
                Email: [EmailKH]
            </td>
        </tr>
        <tr>
            <td style="padding: 0; padding-top: 25px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial;
                                                                                                                                                                                                                  font-size: 14px; color: #2a2a2a">
                Phone: [PhoneKH]
            </td>
        </tr>
            <tr>
                <td style="padding:0;padding-top:25px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,Arial;
font-size:14px;color:#2a2a2a">
                    Nội Dung:<br/>
                    <textarea>
                        [BodyKH]
                    </textarea>
                </td>
            </tr>
            


        <tr>
                <td style="padding:0;padding-top:25px;font-family:'Segoe UI',
     Tahoma, Geneva, Verdana, sans-serif,Arial;font-size:14px;color:#2a2a2a">Cảm ơn và bắt đầu sử dụng<p>- Nhóm phát triển 4 thành viên</p></td>
            </tr>
        </tbody>
    </table>
</body>
</html>