<div class="">
    <div class="row" style="margin-left: 30px;background-color: #ebf2ff;padding-bottom: 40px;border: black solid 1px;">

        <div class="col-md-3 col-xs-6 col-sm-4">
            <!--<label style="width: 100%;margin-top: 30px">Từ Khóa</label>-->
            <input type="text" placeholder="Tất cả" style="width: 100%;height: 30px;border-radius: 4px;;margin-top: 30px;">

        </div>


        <div class="col-md-3 col-xs-6 col-sm-4">
            <!--<label style="width: 100%;margin-top: 30px">Quận Huyện</label>-->
            <select style="width: 100%; height: 30px;border-radius: 4px;;margin-top: 30px;">
                <option value="" selected="selected">Quận Huyện</option>


            </select>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-4">
            <!--<label style="width: 100%;margin-top: 30px">Phường xã</label>-->
            <select style="width: 100%;height: 30px;border-radius: 4px;;margin-top: 30px;">
                <option value="" selected="selected">Phường xã</option>
            </select>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-4">
            <!--<label style="width: 100%;margin-top: 30px">Đường</label>-->
            <select style="width: 100%;height: 30px;border-radius: 4px;;margin-top: 30px;">
                <option value="" selected="selected">Đường</option>

            </select>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-4">
            <!--<label style="width: 100%;margin-top: 30px">Kiểu Dự Án</label>-->
            <select style="width: 100%;height: 30px;border-radius: 4px;margin-top: 30px;">
                <option value="" selected="selected">Kiểu Dự Án</option>

            </select>
        </div>


        <div class="col-md-3 col-xs-6 col-sm-4">
            <!--<label style="width: 100%;margin-top: 30px">Danh Mục</label>-->
            <select style="width: 100%; height: 30px;border-radius: 4px;margin-top: 30px;">
                <option value="" selected="selected">Danh Mục</option>


            </select>
        </div>

        <div class="col-md-3 col-xs-6 col-sm-4">
            <!--<label style="width: 100%;margin-top: 30px">Giá (Min)</label>-->
            <select style="width: 100%;height: 30px;border-radius: 4px;margin-top: 30px;">
                <option value="" selected="selected">Giá (Min)</option>

            </select>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-4">
            <!--<label style="width: 100%;margin-top: 30px">Giá (Max)</label>-->
            <select style="width: 100%;height: 30px;border-radius: 4px;margin-top: 30px;">
                <option value="" selected="selected">Giá (Max)</option>
            </select>
        </div>
        <div class="col-md-3 col-xs-6 col-sm-4">
            <!--<label style="width: 100%; margin-top: 30px">Diện Tích (Min)</label>-->
            <div class="col-md-10 col-xs-8" style="padding-left: 0px;padding-right: 0px;margin-top: 30px;">
                <input type="text" placeholder="Giá trị Min" style="width: 100%; height: 30px;border-radius: 4px;">
            </div>
            <div class="col-md-2 col-xs-4" style="padding-left: 3px;margin-top: 35px">
                <label>m<span style="font-size: 8pt;position: absolute;">2</span></label>
            </div>


        </div>
        <div class="col-md-3 col-xs-6 col-sm-4">
            <!--<label style="width: 100%;margin-top: 30px">Diện Tích (Max)</label>-->
            <div class="col-md-10 col-xs-8" style="padding-left: 0px;padding-right: 0px;margin-top: 30px;">
                <input type="text" placeholder="Giá Trị Max" style="width: 100%; height: 30px;border-radius: 4px;">
            </div>
            <div class="col-md-2 col-xs-4" style="padding-left: 3px;margin-top: 35px">
                <label>m<span style="font-size: 8pt;position: absolute;">2</span></label>
            </div>

        </div>
        <div class="col-md-3 col-xs-6 col-sm-4" style="float: left">

            <input type="button" value="Tìm Kiếm" style="width: 60%; margin-top: 30px; height: 30px;border-radius: 4px;background-color: white">


        </div>

    </div>
    <div class="row" style="">
        <div class="col-md-9 col-xs-12 col-sm-12">
            <div class="col-md-6 col-xs-12 col-sm-12 animate-repeat" style="margin-top: 5%">

                <div style="background-color: white; padding: 0px 0px">
                    <div style="">
                        <img src="../../Content/Images/vanphong2.jpg" style="width: 100%; height: 225px">
                    </div>
                    <h3 style="margin-left: 10px; margin-bottom: 10px; height: 15%; white-space: pre-wrap" class="hidden-sm hidden-xs">Bán nhà MT đường 3, gần AEON, 5x20m, đúc 3.5 tấm mới, 5.5 tỷ</h3>
                    <h4 style="margin-left: 10px; height: 15%; white-space: pre-wrap" class="hidden-md hidden-lg col-xs-12 col-sm-12">Bán nhà MT đường 3, gần AEON, 5x20m, đúc 3.5 tấm mới, 5.5 tỷ</h4>

                    <div class="hidden-xs" style="height: 70%;padding: 10px">
                        <p style="font-size: 1em; " class=""> VỊ TRÍ TÒA NHÀ VID Tower 1 tọa lạc tại phố Trần Hưng Đạo, một trong những tuyến đường trọng…</p>

                    </div>
                    <div>
                        <div class="col-md-6 col-xs-6 col-sm-6 " style="background-color: #ebf2ff; width: 50%; height: 15%; text-align: center; padding: 10px auto; ">
                            <label style="border-bottom: 1px solid #dedede;  float: none; padding: 9px 5px; height: 40%; color: black; width: 100%; text-align: center; white-space: nowrap">DT : 100 m<span style="font-size: 8pt; position: absolute;">2</span></label>
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-6 " style="background-color: rgba(196, 51, 43, 0.85); color: white; width: 50%; height: 15%; text-align: center; padding: 10px auto;">
                            <label style="border-bottom: 1px solid #dedede;  float: none; padding: 9px 5px; height: 40%; color: white; width: 100%; text-align: center; white-space: nowrap">5555 vnđ/tháng</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 hidden-xs">
                </div>


            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 animate-repeat" style="margin-top: 5%">

                <div style="background-color: white; padding: 0px 0px">
                    <div style="">
                        <img src="../../Content/Images/vanphong.jpg" style="width: 100%; height: 225px">
                    </div>
                    <h3 style="margin-left: 10px; margin-bottom: 10px; height: 15%; white-space: pre-wrap" class="hidden-sm hidden-xs">Bán nhà MT đường 3, gần AEON, 5x20m, đúc 3.5 tấm mới, 5.5 tỷ</h3>
                    <h4 style="margin-left: 10px; height: 15%; white-space: pre-wrap" class="hidden-md hidden-lg col-xs-12 col-sm-12">Bán nhà MT đường 3, gần AEON, 5x20m, đúc 3.5 tấm mới, 5.5 tỷ</h4>

                    <div class="hidden-xs" style="height: 70%;padding: 10px">
                        <p style="font-size: 1em; " class=""> VỊ TRÍ TÒA NHÀ VID Tower 1 tọa lạc tại phố Trần Hưng Đạo, một trong những tuyến đường trọng…</p>

                    </div>
                    <div>
                        <div class="col-md-6 col-xs-6 col-sm-6 " style="background-color: #ebf2ff; width: 50%; height: 15%; text-align: center; padding: 10px auto; ">
                            <label style="border-bottom: 1px solid #dedede;  float: none; padding: 9px 5px; height: 40%; color: black; width: 100%; text-align: center; white-space: nowrap">DT : 100 m<span style="font-size: 8pt; position: absolute;">2</span></label>
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-6 " style="background-color: rgba(196, 51, 43, 0.85); color: white; width: 50%; height: 15%; text-align: center; padding: 10px auto;">
                            <label style="border-bottom: 1px solid #dedede;  float: none; padding: 9px 5px; height: 40%; color: white; width: 100%; text-align: center; white-space: nowrap">5555 vnđ/tháng</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 hidden-xs">
                </div>


            </div>

        </div>
        <div class="col-md-3 hidden-xs hidden-sm" style="background-color: green; height: 500px">

        </div>


    </div>




    <div style="text-align: center;">
        <ul class="pagination">
            <li ng-class="{disabled: currentPage == 0}">
                <a href ng-click="prevPage()">« Prev</a>
            </li>
            <li ng-repeat="n in range(pagedItems.length)"
                ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                <a href ng-click="nextPage()">Next »</a>
            </li>
        </ul>
    </div>


</div>